<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BlogIt</title>
</head>
<body>
    <div class = "container">
        <h1 class = "heading">Welcome to Blog-It!</h1>
        <div class = "post-create">
            <a href="/create" class = "create-btn">Create New Post</a>
        </div>
    
        <% if(locals.posts.length === 0) { %>
            <p>No posts available.</p>
        <% } %>

        <% locals.posts.forEach(post => { %>
        <div class = "post-card">
            <div>
                <h3><%= post.title %> </h3>
                <p> <%= post.content %> </p>
            </div>
            <div class = "card-buttons">
                <a href="/edit/<%= post.id %>" class = "btn edit-btn">Edit</a>
                <br><br>
                <form action="/delete/<%= post.id %>" method = "POST">
                <button type = "submit" class = "btn delete-btn">Delete Post</button>
                </form>
            </div>    
        </div>
        <hr>
        <% }) %>
        
    </div>
    

</body>
</html>